# Git
.git
.gitignore

# Docker
.docker

# Python
imoveisfinanciados/__pycache__/
imoveisfinanciados/*/__pycache__/
imoveisfinanciados/*/*/__pycache__/
imoveisfinanciados/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/
mnt_data/
pgdata/

tmp/
media/
staticfiles/
uploades/
.env
contrib/
db.sqlite3