{% extends 'base.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="active">Fale conosco</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Fale conosco</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                {% include 'utils/form_snippet.html' %}
                <div class="row">
                    <div class="col-md-offset-4">
                        <input type="submit" class="btn btn-primary" value="Enviar mensagem" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!-- Field masks -->
    <script src="{% static 'js/account.masks.js' %}"></script>
{% endblock %}
