{% extends 'dashboard.html' %}

{% load static %}

{% block breadcrumbs %}
    <li><a href="{% url 'accounts:auth_profile' %}">Meus dados</a></li>
    <li class="active">Alterar senha</li>
{% endblock %}

{% block content %}
    <div class="loginColumns animated fadeInDown">

        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center">Senha alterada</h2>
                    </div>
                    <div class="panel-body">
                        <p>Sua senha foi alterada com sucesso.</p>
                        <p>Para listar seus imóveis, <a href="{% url 'realty:user_realties' %}">clique aqui</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
