{% extends 'dashboard.html' %}

{% load static %}

{% block breadcrumbs %}
    <li><a href="{% url 'accounts:auth_profile' %}">Meus dados</a></li>
    <li class="active">Alterar senha</li>
{% endblock %}

{% block content %}
    <div class="loginColumns animated fadeInDown">

        <div class="row">
            <div class="col-md-12">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Ops... há algo errado:</strong>
                        Por favor, corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo.
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center">Alterar senha</h2>
                    </div>
                    <div class="panel-body">
                        <p>Por favor, informe sua senha antiga, por segurança, e então informe sua nova senha duas vezes para que possamos verificar se você digitou corretamente.</p>
                        <form class="m-t" role="form" action="" method="post">
                            {% csrf_token %}
                            {% include 'utils/form_snippet.html' %}
                            <div class="form-group">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary block full-width m-b">Alterar senha</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
