{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <p><strong>Redefinição de senha enviada</strong></p>
                <p>Nós te enviamos as instruções para redefinição de sua senha, se existir uma conta com o e-mail que você forneceu. Você receberá a mensagem em breve.</p>
                <p>Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e verificar a sua pasta de spam.</p>
            </div>
        </div>
    </div>

{% endblock %}