{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
    <style>
        #id_email { width: 100%; }
    </style>
{% endblock %}

{% block content %}
    <div class="loginColumns animated fadeInDown">

        <div class="row">
            <div class="col-md-12">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Ops... há algo errado:</strong>
                        Por favor, corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo.
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center">Recuperar a senha</h2>
                    </div>
                    <div class="panel-body">
                        <p>Esqueceu a senha? Forneça o seu endereço de email abaixo e te enviaremos instruções para definir uma nova.</p>
                        <form class="m-t" role="form" action="" method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ form.non_field_errors.as_text }}
                                </div>
                            {% endif %}
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                {% if form.email.errors %}
                                    <div class="text-danger" role="alert">
                                        {{ form.email.errors.as_text }}
                                    </div>
                                {% endif %}
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-md-8">
                                    <button type="submit" class="btn btn-default block full-width m-b">Reinicializar minha senha</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
